[submodule "RMS-Laravel"]
	path = RMS-Laravel
	url = https://github.com/Jettapon/RMS-Laravel.git
[submodule "RMS-Angular"]
	path = RMS-Angular
	url = https://github.com/Jettapon/RMS-Angular.git
[submodule "RMS-Document"]
	path = RMS-Document
	url = https://github.com/Jettapon/RMS-Document.git
